<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>RISESUNSET</title>
  </head>
  <body>
    <div class="container">
      <div class="right-container full-screen">
        <p class="show-p"><%= sunset %></p>
      </div>
    </div>
    <a href="/" class="backBtn">BACK</a>
  </body>
</html>
