<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link rel="stylesheet" href="styles/main.css" />
    <title>RISESUNSET</title>
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="left-container"><p><%= locals.sunrise %></p></div>
      <div class="right-container"><p><%= locals.sunset %></p></div>
    </div>
    <div class="thing"></div>
    <button class="backBtn disabled">BACK</button>
    <form method="POST">
      <input
        type="submit"
        class="riseBtn"
        name="rise"
        value="RISE"
        formaction="/sunrise"
      />

      <input
        type="text"
        name="userInput"
        class="input"
        placeholder="SUN"
        required
      />
      <input
        type="submit"
        class="setBtn"
        name="set"
        value="SET"
        formaction="/sunset"
      />
    </form>
    <div class="words disabled">
      Want to know when the Sun goes up and down?<br />Type your City or Country
      in →
    </div>
    <script>
      $(".input").on("click", function () {
        $(".words").toggleClass("disabled");
      });
    </script>
  </body>
</html>
