* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: space-between;
}



.left-container {
    background-image: url("../images/sunrise.jpg");
    background-position:  10% 25%;
}

.right-container {
    background-image: url("../images/sunset.jpg");
    background-position:  50% 50%;
    
}


.left-container, .right-container {
    opacity: 70%;
    width: 50%;
    box-shadow: rgb(0, 0, 0) 0px 30px 60px 30px inset, rgba(0, 0, 0, 1) 0px 18px 36px -18px inset,  rgba(0, 0, 0, 1) 0px -70px 36px -28px inset,  rgba(0, 0, 0, 1) 50px 0px 36px -28px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}


.thing {
    z-index: 1;
    width: 100px;
    background-color: #000;
    opacity: 95%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 47%;
    box-shadow: rgba(0, 0, 0, 1) 0px 54px 55px, rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px, rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
}

/* FORM */

form {
    z-index: 2;
    position: fixed;
    top: 47%;
    left: 0;
    background-color: #000;
    opacity: 95%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 1) 0px 44px 55px, rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px, rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
}

p {
    display: none;
}

.input {
    font-weight: 800;
    text-align: center;
    height: 4rem;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color:  #FFFF00;
    box-shadow: 0px 0px 40px rgba(255, 255, 0, 0.5);
    opacity: 70%;
}

.input:hover {
    box-shadow: 0px 0px 80px rgba(255, 255, 0, 1);
    opacity: 100%;
}

.setBtn, .riseBtn, .backBtn {
    font-weight: 800;
    height: 4rem;
    width: 5rem;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #0099FF, #0055FF);
    opacity: 70%;   
}

.setBtn:hover, .riseBtn:hover, .backBtn:hover {
    opacity: 100%;
}

.backBtn {
    position: fixed;
    bottom: 5%;
    left: 5%;
    opacity: 60%;
}


@media (max-width: 768px) {
    .thing {
        display: none;
    }

    .container {


        flex-direction: column;
        /* justify-content: space-between; */
    }

    .left-container, .right-container {
        opacity: 70%;
        width: 100%;
        height: 50%;
        box-shadow: rgb(0, 0, 0) 0px 30px 60px 30px inset, rgba(0, 0, 0, 1) 0px 18px 36px -18px inset,  rgba(0, 0, 0, 1) 0px -70px 36px -28px inset,  rgba(0, 0, 0, 1) 50px 0px 36px -28px inset;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}

p {
    font-size: 10rem;
    z-index: 3;
    text-align: center;
    color: white;
}

.disabled {
    display: none !important;
}

.full-screen {
    width: 100%;
}

.show-p {
    display: block;
    font-size: 10rem;
    z-index: 3;
    text-align: center;
    color: white;
}